body {
      background: #fff;
}

.nav-link:hover {
      color: rgb(255, 130, 5);

}
.nav-link {
      color: rgb(53, 53, 53);
}

.fs-10 {
      font-size: 10px;
}

.fs-12 {
      font-size: 12px;
}

.fs-14 {
      font-size: 14px;
}

.size-50 {
      width: 50px;
}

.color-orange {
      background: rgb(255, 130, 5);
     
}

.color-orange:hover {
      background: rgb(254, 143, 32);
}

.price {
      color: rgb(255, 130, 5);
}

.outline-hover:hover {
      width: 40px;
      background-color: rgb(255, 130, 5);
}

.w-35 {
      width: 35px;
}

.bg-green {
    background: #ccffe3;  
    color: #0bc15c;
}

.input-group-text {
      background-color: #ffffff;
}

.navbar-toggler-icon {
     fill: rgb(255, 130, 5);
}

.type-none {
      list-style-type: none;
}

.text-color {
      color: rgb(255, 130, 5);
}
